@using Haskap.Recipe.Application.Dtos.Recipes;
@using Haskap.Recipe.Domain.Shared.Consts;

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model RecipeForBasicInfoViewComponentOutputDto

@{
    var antiforgeryToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}


<div class="row">
    <div class="col-md-12">
        <label for="nameInput" class="form-label">Tarif Adı</label>
        <input id="nameInput" type="text" maxlength="@RecipeConsts.MaxNameLength" required class="form-control" aria-describedby="Tarif Adı" value="@Model.Name" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <label for="descriptionTextarea" class="form-label">Açıklama</label>
        <textarea id="descriptionTextarea" class="form-control" maxlength="@RecipeConsts.MaxDescriptionLength" aria-describedby="Açıklama" rows="7">@Model.Description</textarea>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <label for="categorySelect">Kategori</label>
        <select id="categorySelect" class="select2" multiple="multiple" data-placeholder="Kategori seçiniz" style="width: 100%;" asp-items="ViewBag.Categories">
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img width="100" height="100" style="object-fit:contain;" src="@Html.Raw($"/{ViewBag.BaseFolderPath}/{Model.Id}/{Model.Picture.NewName}{Model.Picture.Extension}")" alt="@Html.Raw(Model.Picture.OriginalName)">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <label class="form-label">Resim Değiştir</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="pictureInput">
            <label class="custom-file-label" for="pictureInput">Resim Seç</label>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12 d-flex justify-content-end">
        <button class="btn btn-primary" id="saveButton"><i class="fas fa-save"></i> Kaydet</button>
    </div>
</div>

<script>

    $(document).ready(function () {
        bsCustomFileInput.init();

        $('.select2').select2();

        $("#categorySelect").val(@Json.Serialize(Model.RecipeCategories.Select(x => x.CategoryId))).change();
    })

    $("#saveButton").click(function () {
        let unselectedCategoryIds = $("#categorySelect option:not(:selected)").map(function () {
            return this.value;
        }).get();

        let selectedCategoryIds = $("#categorySelect").val();

        let formData = new FormData();
        let picture = $('#pictureInput')[0].files[0];

        formData.append('formFile', picture);
        formData.append("id", "@Model.Id");
        formData.append("name", $("#nameInput").val());
        formData.append("description", $("#descriptionTextarea").val());
        selectedCategoryIds.forEach(function (currentValue, index, arr) {
            formData.append("selectedCategoryIds", currentValue);
        });
        unselectedCategoryIds.forEach(function (currentValue, index, arr) {
            formData.append("unselectedCategoryIds", currentValue);
        });

        $.ajax({
            type: "PUT",
            url: '@Url.Action("Update", "Recipe")',
            headers: {
                'RequestVerificationToken': '@antiforgeryToken'
            },
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false  // tell jQuery not to set contentType
        }).done(function (result, status, xhr) {
            loadBasicInfoViewComponent();

            Swal.fire(
                'Başarılı',
                'Tarif başarıyla güncellendi.',
                'success'
            );
        });
    })

</script>
