@using Haskap.Recipe.Application.Dtos.Recipes;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<RecipeOutputDto>

@{
    Layout = "_PublicLayout";

    var mostViewedRecipes = ViewBag.MostViewedRecipes as List<RecipeOutputDto>;
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/lib/public/delicious/img/bg-img/breadcumb4.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>En lezzetli ve en çok görüntülenen tariflere göz atabilirsiniz</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->


<!-- ##### Top Catagory Area Start ##### -->
<section class="top-catagory-area section-padding-80-0">
    <div class="container">
        <div class="row">
            @foreach (var recipe in Model)
            {
                <!-- Top Catagory Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-catagory">
                        <img src="@Html.Raw($"/{ViewBag.BaseFolderPath}/{recipe.Id}/{recipe.Picture.NewName}{recipe.Picture.Extension}")" alt="">
                        <!-- Content -->
                        <div class="top-cta-content">
                            <h3>@Html.Raw(recipe.Name)</h3>
                            <h6>Basit &amp; Lezzetli</h6>
                            <a asp-action="Detail" asp-route-slug="@recipe.Slug.Value" class="btn delicious-btn">Tarife Git</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- ##### Top Catagory Area End ##### -->
<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>En çok görüntülenen tarifler</h3>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var recipe in mostViewedRecipes)
            {
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <a asp-action="Detail" asp-route-slug="@recipe.Slug.Value">
                            <img src="@Html.Raw($"/{ViewBag.BaseFolderPath}/{recipe.Id}/{recipe.Picture.NewName}{recipe.Picture.Extension}")" alt="">
                            <div class="receipe-content">
                                <h5>@recipe.Name</h5>
                            
                                <div class="ratings">
                                    @{
                                        int i = 0;
                                    }
                                    @for (i = 0; i < recipe.Rating; i++)
                                    {
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    }

                                    @for (; i < 5; i++)
                                    {
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    }
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- ##### Best Receipe Area End ##### -->