@using Haskap.Recipe.Application.Dtos.Recipes;


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model RecipeOutputDto

@{
    Layout = "_PublicLayout";
}


<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/lib/public/delicious/img/bg-img/breadcumb3.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Tarif Önizleme</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<div class="receipe-post-area section-padding-80">
    <!-- Receipe Slider -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="receipe-slider owl-carousel">
                    <img style="height: 400px" src="@Html.Raw($"/{ViewBag.BaseFolderPath}/{Model.Id}/{Model.Picture.NewName}{Model.Picture.Extension}")" alt="">
                    @* <img src="img/bg-img/bg5.jpg" alt="">
                    <img src="img/bg-img/bg5.jpg" alt=""> *@
                </div>
            </div>
        </div>
    </div>

    <!-- Receipe Content Area -->
    <div class="receipe-content-area">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="receipe-headline my-5">
                        <span>@Model.CreatedOn?.ToLongDateString()</span>
                        <h2>@Model.Name</h2>
                        <div class="receipe-duration">
                            <h6>@Model.Description</h6>
                            <h6>Yazar: @Model.OwnerUserUsername</h6>
                            @* <h6>Yields: 8 Servings</h6> *@
                            @foreach (var category in Model.Categories)
                            {
                                <a href="javascript:searchWithPaging('', '', '@category.Id', 1);" class="btn delicious-btn m-1">@category.Name</a>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="receipe-ratings text-right my-5">
                        <div class="ratings">
                            @{
                                int i = 0;
                            }
                            @for (i = 0; i < Model.Rating; i++)
                            {
                                <i class="fa fa-star" aria-hidden="true"></i>
                            }

                            @for (; i < 5; i++)
                            {
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            }
                        </div>
                        @* <a href="#" class="btn delicious-btn">For Begginers</a> *@
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-12 col-lg-8">
                    @foreach (var step in Model.Steps.OrderBy(x => x.StepOrder))
                    {
                        <!-- Single Preparation Step -->
                        <div class="single-preparation-step d-flex">
                            <h4>@step.StepOrder .</h4>
                            <p>@step.Instruction</p>
                        </div>

                        foreach (var stepPicture in step.Pictures)
                        {
                            <div style="top: -50px;" class="single-best-receipe-area">
                                <img src="@Html.Raw($"/{ViewBag.BaseFolderPath}/{Model.Id}/{step.Id}/{stepPicture.NewName}{stepPicture.Extension}")" alt="">
                            </div>
                        }
                    }
                </div>

                <div class="col-12 col-lg-4">
                    <div class="ingredients">
                        <h4>Malzemeler</h4>

                        @foreach (var ingredientGroup in Model.Ingredients.GroupBy(x => x.IngredientGroupId))
                        {
                            <h6>@ingredientGroup.First().IngredientGroup.Name</h6>

                            @foreach (var ingredient in ingredientGroup)
                            {
                                <!-- Custom Checkbox -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck_@ingredient.Id">
                                    <label class="custom-control-label" for="customCheck_@ingredient.Id">@($"{ingredient.Amount.Value} {ingredient.Amount.Unit.Name} {ingredient.Name}")</label>
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>